<!DOCTYPE html>
<html>
  <head>
    <title>Registration with facebook, twitter and google</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
      <link rel="stylesheet" href="static/sec_style.css" type="text/css">
  </head>
  <body>
    <div class="main-block">
      <div class="block-item left">
        <h1>FHIR System:</h1>
        <p><small>Upload the file you would like to share securely which has phi information</small>
        </p>
      </div>
      <div class="block-item right">
          <form action="/downloadFile" method="GET">
        <button class="btn facebook" type="submit"><span>Download File</span></button>
          </form>
          <form action="/uploader" method="GET">
        <button class="btn twitter" ></i><span>Upload File</span></button>
              </form>
      </div>
    </div>
  </body>
</html>